@import "./utils/fonts";
@import "./utils/variables";
@import "./base";
@import "./utils/utils";
@import "./utils/mixins";
@import "./utils/texts";

@import "./components/buttons";
@import "./components/links";
@import "./components/carousel-button";
@import "./components/chef-card";
@import "./components/format-card";
@import "./components/input";
@import "./components/pagination";

@import "./layouts/mobile-menu";
@import "./layouts/section";
@import "./layouts/container";
@import "./layouts/header";
@import "./layouts/hero-section";
@import "./layouts/advantages-section";
@import "./layouts/traditions-section";
@import "./layouts/chefs-section";
@import "./layouts/formats-section";
@import "./layouts/contact-section";
@import "./layouts/footer";
@import "./layouts/modal";
@import "./layouts/forms";
