.text-brand {
  color: var(--color-primary-normal);
}

.text-brand-dark {
  color: var(--color-secondary-dark);
}

.text-bold {
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}
