:root {
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-primary-normal: #819b57;
  --color-secondary-dark: #465929;
  --color-secondary-light: #cfcfbc;
  --color-secondary-normal: #a18268;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
