.button {
  display: block;
  padding: 16px 32px;
  color: #faf4ea;
  background-color: var(--color-primary-normal);
  border: 2px solid var(--color-primary-normal);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  background-color: transparent;
  color: var(--color-secondary-dark);
}
