.footer {
  padding: 32px 0;
  position: relative;
  background-color: var(--color-primary-dark);
  background-image: url("../images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::before {
  width: 180px;
  height: 120px;
  left: 0;
  background-image: url("../images/decor-bread-small.png");
}

.footer::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url("../images/decor-bread-large.png");
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  gap: 20px;
  flex-basis: 50%;
  color: var(--color-brand-normal);
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
  margin: 0;
}

.address-list,
.address-info {
  flex-grow: 1;
  margin: 0;
}

.address-link {
  color: var(--color-brand-normal);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(---color-brand-normal);
}

.address-icon {
  fill: var(--color-brand-normal);
}

.address-icon:hover {
  fill: var(---color-brand-normal);
}

.address-copyright {
  color: var(--color-secondary-dark);
  font-size: 14px;
}

.footer::before,
.footer::after {
  position: absolute;
  background-repeat: no-repeat;
  content: "";
  bottom: 0;
}
