.header {
  position: absolute;
  color: var(--color-brand-normal);
  top: 0;
  left: 0;
  padding-top: 32px;
  width: 100%;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}
