.formats-section {
  &__slider {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 32px;
    padding: 0;
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
    }
  }
}
