.header {
  position: absolute;
  color: var(--color-primary-light);
  top: 0;
  left: 0;
  padding-top: 16px;
  width: 100%;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 32px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      margin: 0;
      padding: 0;
      display: flex;
      gap: 64px;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__burger {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    fill: var(--color-primary-light);
    cursor: pointer;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
