.traditions-section {
  padding-top: 96px;
  gap: 100px;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__content {
    max-width: 710px;
  }

  &__title {
    margin-bottom: 42px;
  }

  &__image {
    border-radius: 400px 400px 0px 0px;
  }
}
